html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family:Arial, Helvetica, sans-serif;
  color: #1a1a1a;
}

#background {

  background-position: center;
  background-color: #f5f5dc;
  /* beige fallback */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/Screenshot\ 2025-09-15\ 191441.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

#snake-right {
  position: fixed;
  bottom: 30px;
  right: 60px;
  width: 530px;
  height: auto;
  z-index: 20;
}
#paused-msg {
   position: fixed;
  bottom: 30px;
  right: 60px;
  width: 530px;
  height: auto;
  z-index: 20;
}
#snake-right img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}


.scores {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 0.6rem;
  color: #195596;
  border-radius: 8px;
  font-weight: 300;
}

/* Game borders */
.game-border-2,
.game-border-3 {
  padding: 8px;
  border-radius: px;
}


.game-border-3 {
  background: #ffffff;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 500px;
  height: 500px;
  background-color: #F6ECDA;
  border: 2px solid navy;
}


.snake {
  background: #9BC8AD;
  border-radius: 2px;
}

.food {
  background: #EB9872;
  border-radius: 50%;
}

#paused-msg {
  font-size: 0.5rem;
  font-weight: 200;
  color: #444;
  margin-top: 0.5rem;
}
#game-over-msg {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  z-index: 10;
}
